.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.bigDisplay {
  width: 70%;
}

.listBox {
  width: 25%;
  background: teal;
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;
  padding: 2px;
}


li {
  cursor: pointer;
  font-size: 25px;
  list-style-type: none;
}
