.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: pink;*/
}

.bigDisplay {
  width: 50%;
}

.listBox {
  width: 25%;
  /*background: grey;*/
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  /*background: grey;*/
}


li {
  cursor: pointer;
  font-size: 25px;
  list-style-type: none;
}

.highlight {
  color:teal;
}